<plugin name='countries' version='0.1' grailsVersion='1.3.4.BUILD-SNAPSHOT &gt; *'>
  <author>Stefan Armbruster</author>
  <authorEmail>stefan.armbruster@netjay.de</authorEmail>
  <title>Plugins to deal with contries and continents</title>
  <description>\
The countries plugins provides:
* populated domains classes for countries and continents
* i18n files for countries and continents, for now only in en and de, other contributions are welcome
* taglib
</description>
  <documentation>http://grails.org/plugin/countries</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>CountriesBootStrap</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>grails.plugins.countries.ContinentController</resource>
    <resource>grails.plugins.countries.CountryController</resource>
    <resource>grails.plugins.countries.Continent</resource>
    <resource>grails.plugins.countries.Country</resource>
    <resource>grails.plugins.countries.CountryTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>